#cursor {
    position: absolute;
    height: 15px;
    width: 1px;
    background-color: black;
}

#cursorContainer {
    overflow: visible;
}

#dock {
    display: -webkit-flex;
    flex-direction: row;
}

div {
    display: -webkit-flex;
    flex-direction: row;
    white-space: pre;
}

.socket {
    display: -webkit-flex;
    flex-direction: row;
}

.input {
    white-space: pre;
}

.italic {
    font-style: italic;
}

.inProgress {
    /*color: #2665ed;*/
    color: blue;
}

.valid {
    color: green;
}

.invalid {
    color: red;
}